{%- comment -%}
  Bundle and save snippet with three customizable products
  Usage: {% render 'bundle-save' %}
{%- endcomment -%}
<div class="bundle-save">
  <h2 class="bundle-save__title">BUNDLE & SAVE:</h2>
  
  <div class="bundle-save__products">
    <div class="bundle-save__product bundle-save__product--preferred">
      <div class="bundle-save__product-content">
        <h3 class="bundle-save__product-title">1 month supply</h3>
         <div class="bundle-save__product-price">
          <span class="bundle-save__product-price-original">$69.99</span>
          <span class="bundle-save__product-price-discount">$39.99</span>
        </div>
      </div>
      <div class="bundle-save__product-image">
        <img src="{{ 'product.png' | asset_url }}" alt="Product 1" loading="lazy">
      </div>
    </div>

    <div class="bundle-save__product">
      <div class="bundle-save__product-content">
        <h3 class="bundle-save__product-title">3 month supply</h3>
              <div class="bundle-save__product-price">
          <span class="bundle-save__product-price-original">$89.99</span>
          <span class="bundle-save__product-price-discount">$54.99</span>
        </div>
        <div class="bundle-save__preferred">Popular</div>
      </div>
      <div class="bundle-save__product-image">
        <img src="{{ 'product.png' | asset_url }}" alt="Product 2" loading="lazy" class="bundle-save__product-image-1">
        <img src="{{ 'product.png' | asset_url }}" alt="Product 2" loading="lazy" class="bundle-save__product-image-2">
    </div>
    </div>

    <div class="bundle-save__product">
      <div class="bundle-save__product-content">
        <h3 class="bundle-save__product-title">6 month supply</h3>
        <div class="bundle-save__product-price">
          <span class="bundle-save__product-price-original">$99.99</span>
          <span class="bundle-save__product-price-discount">$69.99</span>
        </div>
        <div class="bundle-save__preferred">Best offer</div>
      </div>
       <div class="bundle-save__product-image">
        <img src="{{ 'product.png' | asset_url }}" alt="Product 2" loading="lazy" class="bundle-save__product-image-1">
        <img src="{{ 'product.png' | asset_url }}" alt="Product 2" loading="lazy" class="bundle-save__product-image-2">
        <img src="{{ 'product.png' | asset_url }}" alt="Product 2" loading="lazy" class="bundle-save__product-image-3">
    </div>
    </div>
  </div>

  <div class="bundle-save__delivery">
    <span class="outer-circle">
    <span class="inner-circle"></span>
    </span>
    <p>Order today and get it by <span class="bundle-save__delivery-date">Wed, Feb 20</span></p>
  </div>

  <button class="bundle-save__add-to-cart" onclick="addToCart()">
    <span class="bundle-save__cart-icon">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 20C9 21.1046 8.10457 22 7 22C5.89543 22 5 21.1046 5 20C5 18.8954 5.89543 18 7 18C8.10457 18 9 18.8954 9 20Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M20 20C20 21.1046 19.1046 22 18 22C16.8954 22 16 21.1046 16 20C16 18.8954 16.8954 18 18 18C19.1046 18 20 18.8954 20 20Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M1 1H5L7.68 14.39C7.77144 14.8504 8.02191 15.264 8.38755 15.5583C8.75318 15.8526 9.2107 16.009 9.68 16H19.4C19.8693 16.009 20.3268 15.8526 20.6925 15.5583C21.0581 15.264 21.3086 14.8504 21.4 14.39L23 6H6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    Add to Cart
  </button>

  <div class="bundle-save__shipping">
    <div class="bundle-save__shipping-item">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.47083 15C7.37177 15.6952 7.02518 16.3314 6.49473 16.7916C5.96429 17.2518 5.2856 17.5052 4.58333 17.5052C3.88107 17.5052 3.20238 17.2518 2.67194 16.7916C2.14149 16.3314 1.7949 15.6952 1.69583 15H0.833334V4.99996C0.833334 4.77895 0.921131 4.56698 1.07741 4.4107C1.23369 4.25442 1.44565 4.16663 1.66667 4.16663H13.3333C13.5543 4.16663 13.7663 4.25442 13.9226 4.4107C14.0789 4.56698 14.1667 4.77895 14.1667 4.99996V6.66663H16.6667L19.1667 10.0466V15H17.4708C17.3705 15.6942 17.0234 16.3291 16.4931 16.7882C15.9628 17.2474 15.2848 17.5001 14.5833 17.5001C13.8819 17.5001 13.2039 17.2474 12.6736 16.7882C12.1433 16.3291 11.7962 15.6942 11.6958 15H7.47083ZM12.5 5.83329H2.5V12.5416C2.8288 12.206 3.23384 11.9547 3.68063 11.8092C4.12742 11.6638 4.60275 11.6284 5.06615 11.7061C5.52955 11.7839 5.96731 11.9724 6.34218 12.2557C6.71704 12.539 7.0179 12.9087 7.21917 13.3333H11.9475C12.0875 13.0391 12.275 12.7716 12.5 12.5416V5.83329ZM14.1667 10.8333H17.5V10.5958L15.8267 8.33329H14.1667V10.8333ZM14.5833 15.8333C14.915 15.8333 15.233 15.7016 15.4675 15.4671C15.702 15.2326 15.8338 14.9145 15.8338 14.5829C15.8338 14.2512 15.702 13.9332 15.4675 13.6987C15.233 13.4642 14.915 13.3325 14.5833 13.3325C14.2517 13.3325 13.9337 13.4642 13.6992 13.6987C13.4647 13.9332 13.3329 14.2512 13.3329 14.5829C13.3329 14.9145 13.4647 15.2326 13.6992 15.4671C13.9337 15.7016 14.2517 15.8333 14.5833 15.8333ZM5.83333 14.5833C5.83333 14.4191 5.801 14.2566 5.73818 14.1049C5.67537 13.9533 5.58329 13.8155 5.46722 13.6994C5.35114 13.5833 5.21335 13.4913 5.06169 13.4284C4.91003 13.3656 4.74749 13.3333 4.58333 13.3333C4.41918 13.3333 4.25664 13.3656 4.10498 13.4284C3.95332 13.4913 3.81552 13.5833 3.69945 13.6994C3.58338 13.8155 3.4913 13.9533 3.42848 14.1049C3.36567 14.2566 3.33333 14.4191 3.33333 14.5833C3.33333 14.9148 3.46503 15.2328 3.69945 15.4672C3.93387 15.7016 4.25181 15.8333 4.58333 15.8333C4.91486 15.8333 5.2328 15.7016 5.46722 15.4672C5.70164 15.2328 5.83333 14.9148 5.83333 14.5833Z" fill="#1D211E"/>
        </svg>
        <span style="font-weight: 700;">Free</span> Shipping Today</span>
    </div>
    <div class="bundle-save__shipping-item">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.31947 3.77771L2.5 6.1944L5.31947 9.01387" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.5 6.19446H11.7616C14.5339 6.19446 16.8882 8.45809 16.9961 11.2292C17.1105 14.1574 14.691 16.6668 11.7616 16.6668H4.91588" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span style="font-weight: 700;">30-Day Easy</span> Returns</span>
    </div>
  </div>

  <div class="bundle-save__payment-methods">
   <button class="bundle-save__payment-method">
        <svg width="32" height="14" viewBox="0 0 32 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.22682 2.27398C5.8575 2.72851 5.26659 3.08702 4.67568 3.0358C4.60182 2.42122 4.89112 1.76823 5.22966 1.36491C5.59898 0.897568 6.24529 0.56467 6.76849 0.539062C6.83004 1.17925 6.58998 1.80664 6.22682 2.27398ZM6.76201 3.15958C6.24143 3.12842 5.76642 3.32241 5.38275 3.4791C5.13584 3.57994 4.92676 3.66533 4.76769 3.66533C4.58919 3.66533 4.37147 3.57537 4.12703 3.47437C3.80673 3.34203 3.44053 3.19073 3.05652 3.19799C2.17631 3.21079 1.35766 3.72935 0.908321 4.55519C-0.0149736 6.20687 0.668265 8.6524 1.56078 9.99679C1.99781 10.6626 2.52101 11.3924 3.2104 11.3668C3.51369 11.3549 3.73186 11.2586 3.95765 11.159C4.21759 11.0442 4.48763 10.9251 4.90927 10.9251C5.31629 10.9251 5.57451 11.0411 5.82239 11.1526C6.05809 11.2585 6.28443 11.3602 6.62044 11.354C7.33445 11.3412 7.78379 10.6882 8.22082 10.0224C8.69244 9.30781 8.8997 8.61041 8.93114 8.50459L8.93483 8.49235C8.93408 8.49156 8.92825 8.48879 8.91797 8.48389C8.7603 8.40882 7.55529 7.83507 7.54373 6.2965C7.53213 5.00509 8.49953 4.35079 8.65181 4.24779C8.66108 4.24152 8.66733 4.2373 8.67015 4.23509C8.05462 3.28762 7.0944 3.18518 6.76201 3.15958ZM11.7031 11.2852V1.30469H15.304C17.1629 1.30469 18.4616 2.63628 18.4616 4.58245C18.4616 6.52863 17.1383 7.87302 15.2547 7.87302H13.1927V11.2852H11.7031ZM13.1953 2.60938H14.9126C16.2053 2.60938 16.9439 3.32639 16.9439 4.58756C16.9439 5.84873 16.2053 6.57214 14.9065 6.57214H13.1953V2.60938ZM23.3769 10.0847C22.983 10.8657 22.1151 11.3587 21.1794 11.3587C19.7945 11.3587 18.8281 10.5008 18.8281 9.20766C18.8281 7.92728 19.7637 7.19107 21.4934 7.08224L23.3523 6.967V6.41644C23.3523 5.6034 22.8414 5.16167 21.9304 5.16167C21.1794 5.16167 20.6316 5.56499 20.5208 6.17957H19.179C19.2221 4.88639 20.3916 3.94531 21.9735 3.94531C23.6785 3.94531 24.7865 4.87359 24.7865 6.31401V11.2819H23.4077V10.0847H23.3769ZM21.58 10.1716C20.786 10.1716 20.2812 9.77473 20.2812 9.16655C20.2812 8.53917 20.7675 8.17426 21.697 8.11664L23.3527 8.00781V8.57118C23.3527 9.50585 22.5895 10.1716 21.58 10.1716ZM29.362 11.6701C28.7649 13.4178 28.0817 13.994 26.629 13.994C26.5182 13.994 26.1489 13.9812 26.0627 13.9556V12.7584C26.1551 12.7712 26.3828 12.784 26.4998 12.784C27.1584 12.784 27.5277 12.496 27.7554 11.7469L27.8909 11.3052L25.3672 4.03906H26.9245L28.6787 9.9352H28.7095L30.4638 4.03906H31.978L29.362 11.6701Z" fill="black"/>
        </svg>
   </button>
   <button class="bundle-save__payment-method">
        <svg width="33" height="14" viewBox="0 0 33 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4546 10.5608V6.77017H17.4147C18.2179 6.77017 18.8959 6.50154 19.4485 5.97176L19.5812 5.83744C20.5907 4.74056 20.5244 3.03181 19.4485 2.01701C18.9106 1.47976 18.1737 1.18875 17.4147 1.20367H14.2682V10.5608H15.4546ZM15.4479 5.61983V2.35156H17.4378C17.8653 2.35156 18.2706 2.51572 18.5728 2.81419C19.214 3.44098 19.2287 4.48564 18.6096 5.13481C18.3075 5.45567 17.88 5.63475 17.4378 5.61983H15.4479ZM25.1184 4.662C24.61 4.1919 23.9173 3.95312 23.0404 3.95312C21.913 3.95312 21.0656 4.37099 20.5055 5.19924L21.5519 5.86334C21.9351 5.29625 22.4583 5.0127 23.1215 5.0127C23.5415 5.0127 23.9468 5.1694 24.2636 5.45295C24.5731 5.72157 24.75 6.10958 24.75 6.51998V6.79607C24.2931 6.54237 23.7183 6.40806 23.0109 6.40806C22.1856 6.40806 21.5224 6.60206 21.0287 6.99754C20.535 7.39301 20.2845 7.91534 20.2845 8.57944C20.2697 9.18384 20.5276 9.7584 20.9845 10.1464C21.4487 10.5643 22.0382 10.7732 22.7309 10.7732C23.5488 10.7732 24.1973 10.4076 24.691 9.67632H24.7426V10.5643H25.8774V6.61699C25.8774 5.78873 25.6268 5.13209 25.1184 4.662ZM21.901 9.3903C21.6578 9.21122 21.5104 8.92021 21.5104 8.60681C21.5104 8.25611 21.6726 7.9651 21.9895 7.73378C22.3138 7.50247 22.7191 7.38308 23.1981 7.38308C23.8614 7.37562 24.3773 7.52485 24.7458 7.82332C24.7458 8.33073 24.5469 8.77097 24.1562 9.14406C23.8025 9.50223 23.3234 9.7037 22.8223 9.7037C22.4906 9.71116 22.1664 9.59923 21.901 9.3903ZM28.4236 13.3716L32.388 4.15625H31.0985L29.2636 8.75271H29.2415L27.3625 4.15625H26.0729L28.6741 10.1481L27.2004 13.3716H28.4236Z" fill="#3C4043"/>
            <path d="M11.3601 5.94098C11.3601 5.57536 11.3306 5.20973 11.2717 4.85156H6.26823V6.91848H9.1347C9.0168 7.58258 8.63362 8.17952 8.07359 8.55261V9.89573H9.78316C10.7853 8.96301 11.3601 7.58258 11.3601 5.94098Z" fill="#4285F4"/>
            <path d="M6.2642 11.2021C7.69375 11.2021 8.90223 10.7246 9.77912 9.90379L8.06956 8.56066C7.59058 8.88898 6.97897 9.07553 6.2642 9.07553C4.87886 9.07553 3.70722 8.12788 3.28719 6.85938H1.52605V8.24727C2.42504 10.0605 4.25988 11.2021 6.2642 11.2021Z" fill="#34A853"/>
            <path d="M3.29431 6.85395C3.07321 6.18985 3.07321 5.46606 3.29431 4.79449V3.41406H1.53288C0.77377 4.92881 0.77377 6.71964 1.53288 8.23438L3.29431 6.85395Z" fill="#FBBC04"/>
            <path d="M6.2642 2.58006C7.02318 2.56514 7.7527 2.85615 8.29799 3.38593L9.81596 1.84881C8.85065 0.938466 7.58321 0.438526 6.2642 0.45345C4.25988 0.45345 2.42504 1.60257 1.52605 3.41578L3.28719 4.80368C3.70722 3.52771 4.87886 2.58006 6.2642 2.58006Z" fill="#EA4335"/>
        </svg>
   </button>
   <button class="bundle-save__payment-method">
        <svg width="32" height="12" viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.2446 10.9827H5.57905L3.58022 3.14758C3.48534 2.78716 3.2839 2.46854 2.98758 2.31836C2.24809 1.94097 1.43322 1.64063 0.544273 1.48915V1.1875H4.83826C5.43089 1.1875 5.87537 1.64063 5.94945 2.16689L6.98655 7.81859L9.6508 1.1875H12.2423L8.2446 10.9827ZM13.7257 10.9827H11.2083L13.2813 1.1875H15.7986L13.7257 10.9827ZM19.0581 3.9004C19.1322 3.37284 19.5767 3.07119 20.0952 3.07119C20.9101 2.99545 21.7978 3.14693 22.5385 3.52301L22.983 1.41407C22.2422 1.11242 21.4274 0.960938 20.6879 0.960938C18.2446 0.960938 16.4667 2.31771 16.4667 4.20075C16.4667 5.63326 17.726 6.38543 18.615 6.83856C19.5767 7.29038 19.9471 7.59203 19.873 8.04386C19.873 8.72159 19.1322 9.02324 18.3927 9.02324C17.5038 9.02324 16.6148 8.79733 15.8012 8.41994L15.3568 10.5302C16.2457 10.9063 17.2075 11.0578 18.0964 11.0578C20.836 11.1322 22.5385 9.77672 22.5385 7.74221C22.5385 5.18013 19.0581 5.02996 19.0581 3.9004ZM31.3504 10.9827L29.3516 1.1875H27.2046C26.7601 1.1875 26.3157 1.48915 26.1675 1.94097L22.4661 10.9827H25.0576L25.5749 9.55145H28.759L29.0553 10.9827H31.3504ZM27.5652 3.82812L28.3047 7.51976H26.2318L27.5652 3.82812Z" fill="#172B85"/>
        </svg>
   </button>
   <button class="bundle-save__payment-method">
        <svg width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.232 15.2414C13.6998 16.5303 11.7124 17.3083 9.54063 17.3083C4.69433 17.3083 0.765625 13.4337 0.765625 8.65417C0.765625 3.8746 4.69433 0 9.54063 0C11.7124 0 13.6998 0.77806 15.232 2.06695C16.7643 0.77806 18.7517 0 20.9234 0C25.7698 0 29.6985 3.8746 29.6985 8.65417C29.6985 13.4337 25.7698 17.3083 20.9234 17.3083C18.7517 17.3083 16.7643 16.5303 15.232 15.2414Z" fill="#ED0006"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.232 15.2414C17.1191 13.654 18.3156 11.2919 18.3156 8.65417C18.3156 6.01641 17.1191 3.65429 15.232 2.06695C16.7643 0.77806 18.7517 0 20.9234 0C25.7698 0 29.6985 3.8746 29.6985 8.65417C29.6985 13.4337 25.7698 17.3083 20.9234 17.3083C18.7517 17.3083 16.7643 16.5303 15.232 15.2414Z" fill="#F9A000"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2399 15.2335C17.1269 13.6462 18.3235 11.284 18.3235 8.6463C18.3235 6.00854 17.1269 3.64642 15.2399 2.05908C13.3528 3.64642 12.1562 6.00854 12.1562 8.6463C12.1562 11.284 13.3528 13.6462 15.2399 15.2335Z" fill="#FF5E00"/>
        </svg>
   </button>
   <button class="bundle-save__payment-method">
        <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.57928 17.3273L4.86493 15.4555L4.22861 15.4402H1.19011L3.30176 1.62761C3.30834 1.58578 3.32961 1.54696 3.36067 1.51934C3.39188 1.49171 3.43166 1.47656 3.47327 1.47656H8.59666C10.2977 1.47656 11.4715 1.84163 12.0842 2.56231C12.3715 2.90039 12.5545 3.25378 12.6431 3.64253C12.736 4.05053 12.7375 4.53793 12.6469 5.13249L12.6403 5.17574V5.55675L12.9277 5.72469C13.1696 5.85711 13.3619 6.00863 13.5094 6.18209C13.7551 6.47125 13.914 6.83869 13.9812 7.27415C14.0507 7.72209 14.0277 8.25525 13.914 8.85881C13.7829 9.55297 13.571 10.1576 13.2848 10.6523C13.0216 11.1081 12.6862 11.4863 12.288 11.7792C11.9078 12.0577 11.4562 12.269 10.9455 12.4043C10.4505 12.5372 9.88626 12.6042 9.26739 12.6042H8.86868C8.58365 12.6042 8.30673 12.7101 8.08932 12.9C7.8713 13.0938 7.72718 13.3587 7.68296 13.6483L7.65282 13.8169L7.14809 17.1161L7.12529 17.2372C7.11917 17.2755 7.10877 17.2946 7.09347 17.3076C7.07985 17.3194 7.06027 17.3273 7.04114 17.3273H4.57928Z" fill="#28356A"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1958 5.21875C13.1807 5.31961 13.1631 5.42267 13.1435 5.52858C12.4679 9.10732 10.1562 10.3436 7.20402 10.3436H5.70083C5.33976 10.3436 5.03545 10.614 4.9793 10.9815L3.99171 17.444C3.95515 17.6853 4.13537 17.9027 4.3713 17.9027H7.03741C7.35304 17.9027 7.62124 17.6661 7.67097 17.3449L7.69713 17.2052L8.19911 13.9189L8.23139 13.7387C8.2805 13.4164 8.54932 13.1796 8.86495 13.1796H9.26366C11.8467 13.1796 13.8688 12.0978 14.4599 8.96701C14.7067 7.65919 14.5789 6.56713 13.9256 5.79911C13.7279 5.56756 13.4827 5.37532 13.1958 5.21875Z" fill="#298FC2"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.489 4.92986C12.3857 4.89876 12.2792 4.87067 12.17 4.84526C12.0601 4.82048 11.9477 4.79854 11.8319 4.77928C11.4266 4.71173 10.9824 4.67969 10.5068 4.67969H6.49108C6.39209 4.67969 6.29815 4.70273 6.21416 4.7444C6.02888 4.83626 5.89134 5.01714 5.85798 5.23858L5.00365 10.8206L4.97917 10.9833C5.03532 10.6159 5.33963 10.3455 5.7007 10.3455H7.20389C10.1561 10.3455 12.4677 9.10853 13.1434 5.53042C13.1636 5.42451 13.1805 5.32144 13.1957 5.22059C13.0248 5.12699 12.8397 5.04697 12.6403 4.97878C12.591 4.9619 12.5402 4.94564 12.489 4.92986Z" fill="#22284F"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.86323 5.23668C5.89658 5.01524 6.03413 4.83436 6.2194 4.74313C6.30401 4.70131 6.39734 4.67826 6.49633 4.67826H10.512C10.9877 4.67826 11.4318 4.71046 11.8371 4.77802C11.9529 4.79711 12.0654 4.81921 12.1752 4.84399C12.2845 4.86924 12.391 4.8975 12.4942 4.92843C12.5455 4.94422 12.5963 4.96063 12.646 4.97689C12.8454 5.04507 13.0306 5.12573 13.2015 5.21869C13.4026 3.89619 13.1999 2.99575 12.5068 2.18037C11.7426 1.28261 10.3635 0.898438 8.59865 0.898438H3.47511C3.11465 0.898438 2.80713 1.16881 2.75144 1.53688L0.617446 15.4915C0.575372 15.7676 0.781764 16.0166 1.05165 16.0166H4.21469L5.86323 5.23668Z" fill="#28356A"/>
        </svg>
   </button>
   
    <button class="bundle-save__payment-method klarna">
        <svg width="38" height="9" viewBox="0 0 38 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.35766 8.50616H0.513031V0H2.35766V8.50616ZM6.96083 0H5.1562C5.1562 1.56535 4.47616 3.0021 3.29049 3.94206L2.57553 4.50872L5.34578 8.50651H7.62346L5.07446 4.82793C6.28273 3.5546 6.96083 1.84152 6.96083 0ZM9.9035 8.50222H8.16147V0H9.9035V8.50222ZM15.165 2.6235V2.99973C14.695 2.66037 14.1276 2.46094 13.5157 2.46094C11.8962 2.46094 10.5833 3.85035 10.5833 5.56429C10.5833 7.27823 11.8962 8.66765 13.5157 8.66765C14.1276 8.66765 14.695 8.46821 15.165 8.12894V8.50483H16.8289V2.6235H15.165ZM15.1612 5.56774C15.1612 6.40345 14.4861 7.08096 13.6535 7.08096C12.8209 7.08096 12.1458 6.40345 12.1458 5.56774C12.1458 4.73203 12.8209 4.05469 13.6535 4.05469C14.4861 4.05469 15.1612 4.73203 15.1612 5.56774ZM25.1808 2.46094C24.5162 2.46094 23.8871 2.67932 23.4666 3.28181V2.61947H21.8099V8.50045H23.4869V5.40979C23.4869 4.51544 24.0536 4.07748 24.736 4.07748C25.4672 4.07748 25.8876 4.53979 25.8876 5.39761V8.50045H27.5495V4.76039C27.5495 3.39173 26.5212 2.46094 25.1808 2.46094ZM32.7198 2.99973V2.6235H34.3836V8.50483H32.7198V8.12894C32.2497 8.46821 31.6824 8.66765 31.0704 8.66765C29.4509 8.66765 28.138 7.27823 28.138 5.56429C28.138 3.85035 29.4509 2.46094 31.0704 2.46094C31.6824 2.46094 32.2497 2.66037 32.7198 2.99973ZM31.2082 7.08096C32.0408 7.08096 32.7158 6.40345 32.7158 5.56774C32.7158 4.73203 32.0408 4.05469 31.2082 4.05469C30.3755 4.05469 29.7005 4.73203 29.7005 5.56774C29.7005 6.40345 30.3755 7.08096 31.2082 7.08096ZM35.1068 7.51911C35.1068 6.90876 35.5742 6.41406 36.1509 6.41406C36.7275 6.41406 37.195 6.90876 37.195 7.51911C37.195 8.12928 36.7275 8.62406 36.1509 8.62406C35.5742 8.62406 35.1068 8.12928 35.1068 7.51911ZM19.404 2.625V3.391C19.7376 2.93152 20.3591 2.62534 21.0347 2.62534V4.33671C21.028 4.33662 21.0217 4.33594 21.015 4.33594C20.3566 4.33594 19.4079 4.83392 19.4079 5.76033V8.50624H17.7005V2.625H19.404Z" fill="#17120F"/>
        </svg>
   </button>
   <button class="bundle-save__payment-method opay">
        <svg width="34" height="14" viewBox="0 0 34 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.9344 4.67706C19.9344 6.60952 18.577 7.98902 16.6802 7.98902H14.8931C14.8733 7.98902 14.8538 7.99291 14.8356 8.00047C14.8174 8.00803 14.8008 8.0191 14.7869 8.03306C14.773 8.04702 14.762 8.06359 14.7545 8.08181C14.747 8.10003 14.7432 8.11954 14.7433 8.13924V10.6791C14.7433 10.7188 14.7276 10.7569 14.6995 10.785C14.6714 10.8132 14.6333 10.8291 14.5935 10.8293H13.343C13.3133 10.8292 13.2843 10.8203 13.2596 10.8037C13.2349 10.7872 13.2156 10.7638 13.2041 10.7364C13.1966 10.7185 13.1927 10.6993 13.1925 10.6798V1.51459C13.1924 1.4949 13.1962 1.47539 13.2037 1.45717C13.2112 1.43894 13.2222 1.42238 13.2361 1.40842C13.25 1.39446 13.2666 1.38339 13.2848 1.37583C13.303 1.36827 13.3226 1.36438 13.3423 1.36438H16.6882C18.577 1.3622 19.9344 2.7417 19.9344 4.67706ZM18.3749 4.67706C18.3749 3.56606 17.6159 2.75404 16.5864 2.75404H14.8931C14.8733 2.75404 14.8538 2.75793 14.8356 2.76549C14.8174 2.77305 14.8008 2.78412 14.7869 2.79808C14.773 2.81204 14.762 2.8286 14.7545 2.84682C14.747 2.86504 14.7432 2.88456 14.7433 2.90425V6.44117C14.7433 6.48082 14.7591 6.51884 14.7872 6.54687C14.8153 6.57491 14.8534 6.59066 14.8931 6.59066H16.5864C17.6159 6.59791 18.3749 5.78516 18.3749 4.67706ZM20.3052 9.071C20.2922 8.77462 20.3537 8.4797 20.484 8.21305C20.6142 7.94641 20.8092 7.71648 21.0512 7.54419C21.539 7.17772 22.3017 6.98832 23.4213 6.94914L24.6137 6.90705V6.55583C24.6137 5.85193 24.1411 5.5544 23.3821 5.5544C22.623 5.5544 22.1417 5.8229 22.0312 6.26193C22.0222 6.2928 22.0032 6.31982 21.9771 6.33873C21.9511 6.35764 21.9195 6.36739 21.8873 6.36643H20.7095C20.6878 6.36702 20.6662 6.36283 20.6463 6.35416C20.6265 6.34549 20.6087 6.33256 20.5944 6.31627C20.5801 6.29999 20.5696 6.28076 20.5636 6.25995C20.5576 6.23915 20.5563 6.21727 20.5597 6.19589C20.7342 5.15528 21.6015 4.3643 23.4359 4.3643C25.3873 4.3643 26.0918 5.27139 26.0918 7.00284V10.6791C26.0914 10.7192 26.0751 10.7575 26.0465 10.7856C26.0179 10.8138 25.9793 10.8295 25.9391 10.8293H24.7518C24.7121 10.8292 24.674 10.8136 24.6457 10.7858C24.6318 10.7718 24.6208 10.7553 24.6133 10.7371C24.6058 10.7189 24.602 10.6995 24.6021 10.6798V10.4048C24.6025 10.3821 24.596 10.3597 24.5835 10.3407C24.5709 10.3218 24.5529 10.307 24.5318 10.2985C24.5107 10.2899 24.4876 10.2879 24.4653 10.2928C24.4431 10.2976 24.4228 10.3091 24.4072 10.3257C24.051 10.7125 23.4759 10.9918 22.5547 10.9918C21.1995 10.9918 20.3052 10.2879 20.3052 9.071ZM24.6137 8.27421V7.98902L23.0695 8.0703C22.2559 8.11166 21.7826 8.4491 21.7826 9.0173C21.7826 9.53107 22.2166 9.81553 22.9749 9.81553C24.0052 9.81553 24.6137 9.2604 24.6137 8.27421ZM27.2841 13.6072V12.5419C27.2844 12.5195 27.2895 12.4975 27.2992 12.4774C27.3089 12.4573 27.3229 12.4395 27.3403 12.4254C27.3576 12.4112 27.3779 12.4011 27.3996 12.3956C27.4213 12.3902 27.4439 12.3896 27.4659 12.3938C27.6477 12.4279 27.8331 12.4454 28.0185 12.4461C28.3372 12.4616 28.6519 12.3699 28.9122 12.1857C29.1726 12.0015 29.3635 11.7355 29.4544 11.4302L29.5314 11.1849C29.5426 11.1519 29.5426 11.1162 29.5314 11.0833L27.0573 4.74092C27.0484 4.71793 27.0451 4.69312 27.0479 4.66861C27.0507 4.6441 27.0594 4.62063 27.0733 4.60022C27.0871 4.57981 27.1058 4.56306 27.1276 4.55142C27.1493 4.53978 27.1736 4.53359 27.1983 4.53338H28.398C28.4286 4.5337 28.4585 4.54321 28.4836 4.56068C28.5088 4.57815 28.5281 4.60278 28.539 4.63135L30.2192 9.10438C30.2297 9.13409 30.2492 9.15982 30.275 9.17802C30.3008 9.19622 30.3316 9.20599 30.3632 9.20599C30.3948 9.20599 30.4256 9.19622 30.4513 9.17802C30.4771 9.15982 30.4966 9.13409 30.5071 9.10438L31.9663 4.64368C31.9764 4.61319 31.9959 4.58667 32.0221 4.56791C32.0482 4.54914 32.0796 4.53909 32.1117 4.53919H33.3528C33.3777 4.53934 33.4021 4.54549 33.4241 4.55712C33.446 4.56875 33.4649 4.58551 33.4789 4.60596C33.493 4.62642 33.5019 4.64998 33.5049 4.67462C33.5079 4.69925 33.5048 4.72424 33.496 4.74745L30.8496 11.7908C30.2403 13.4279 29.1955 13.8466 28.0454 13.8466C27.8272 13.8524 27.6091 13.8263 27.3983 13.769C27.3632 13.7597 27.3326 13.7384 27.3117 13.7088C27.2908 13.6792 27.281 13.6432 27.2841 13.6072ZM5.15647 0.836094C3.58029 0.824885 2.05974 1.417 0.907605 2.49062C0.858335 2.53566 0.827619 2.59739 0.821437 2.66378C0.815255 2.73018 0.834049 2.7965 0.874161 2.84983L1.58739 3.82223C1.61052 3.8546 1.64046 3.88153 1.67513 3.90111C1.7098 3.92069 1.74835 3.93245 1.78806 3.93556C1.82777 3.93867 1.86768 3.93306 1.90499 3.91913C1.9423 3.90519 1.97609 3.88326 2.00399 3.85488C2.41827 3.44149 2.91094 3.11467 3.45322 2.89351C3.9955 2.67235 4.57651 2.56129 5.16228 2.56682C7.60807 2.56682 8.88549 4.40421 8.88549 6.21839C8.88549 8.19076 7.54336 9.57824 5.61451 9.60582C4.12406 9.60582 3.00077 8.61963 3.00077 7.31705C3.00233 6.98798 3.07702 6.66335 3.21947 6.36658C3.36191 6.0698 3.56856 5.80827 3.82452 5.60084C3.87863 5.55573 3.91283 5.49122 3.91976 5.42119C3.9267 5.35116 3.90581 5.28121 3.8616 5.2264L3.11201 4.28157C3.08934 4.253 3.06117 4.22925 3.02915 4.21173C2.99714 4.1942 2.96193 4.18325 2.9256 4.17953C2.88928 4.17581 2.85257 4.17939 2.81766 4.19007C2.78274 4.20074 2.75032 4.21828 2.72231 4.24166C2.26196 4.61186 1.89046 5.08021 1.63508 5.61237C1.37969 6.14453 1.24689 6.72699 1.24641 7.31705C1.24641 9.55937 3.15563 11.3184 5.60142 11.3329H5.63414C8.53796 11.2952 10.6377 9.14864 10.6377 6.21476C10.6377 3.6096 8.71536 0.836094 5.15719 0.836094H5.15647Z" fill="white"/>
        </svg>
   </button>

  </div>
</div>

<style>
  .bundle-save {
    padding: 40px 20px;
    margin: 40px 0;
  }
  .bundle-save__delivery-date{
    font-weight: 700;
  }
  .bundle-save__title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 32px;
    color: #333;
  }

  .bundle-save__products {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .bundle-save__product {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
    background: white;
    position: relative;
  }

  .bundle-save__payment-method{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 45px;
    height:24px;
    border:1px solid rgba(242, 244, 247, 1);
    border-radius:5px;
    background:none;
  }

  .bundle-save__product:has(.bundle-save__preferred) {
    padding-top:15px;
  }

  .bundle-save__product-image-2 {
    margin-left: -30px;
  }

  .bundle-save__product--preferred {
    border-color: rgb(0, 0, 0);
    border-bottom-width: 4px;
    position: relative;
  }
.klarna{
    background:rgba(254, 180, 199, 1);
}
.opay{
    background: rgba(90, 49, 244, 1);
}
  .bundle-save__product-price-original{
    text-decoration: line-through;
    color: #666;
  }

  .bundle-save__product-image {
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .bundle-save__shipping-item{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .bundle-save__product-image img {
    width: 70px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .bundle-save__product-image-3 {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .bundle-save__product-content {
    padding: 5px;
  }

  .bundle-save__product-title {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    text-align: center;
  }

  .bundle-save__product-price {
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    color: #333;
  }

  .bundle-save__preferred {
    position: absolute;
    top: 0;
    left:0;
    background-color: rgba(254, 219, 54, 1);
    color: #333;
    font-size: 14px;
    font-weight: 900;
    padding: 4px 8px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .bundle-save__delivery {
    background-color: rgba(245, 245, 245, 1);
    border-radius: 8px;
    padding: 12px 24px;
    margin: 30px auto 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .bundle-save__delivery p {
    margin: 0;
    color: #333;
  }

  .bundle-save__add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: rgba(255, 229, 53, 1);
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    text-transform: uppercase;
  }

  .bundle-save__cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(90, 202, 92, 0.36);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inner-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(90, 202, 92); 
    display:inline-block;
  }
  
  .bundle-save__shipping {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    font-weight: 500;
  }

  .bundle-save__payment-methods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    border-radius: 8px;
  }

  .bundle-save__payment-logo {
    height: 24px;
    width: auto;
    opacity: 0.7;
    transition: opacity 0.2s ease;
  }

  .bundle-save__payment-logo:hover {
    opacity: 1;
  }

  @media screen and (max-width: 768px) {
    .bundle-save__payment-methods {
      flex-wrap: wrap;
      gap: 12px;
      justify-content: center;
    }

    .bundle-save__payment-logo {
      height: 20px;
    }
  }
</style>

<script>
  let cartCount = 0;
  
  function addToCart() {
    cartCount++;
    document.querySelector('.bundle-save__cart-count').textContent = cartCount;
    
    // Add animation to cart count
    const cartCountElement = document.querySelector('.bundle-save__cart-count');
    cartCountElement.style.transform = 'scale(1.2)';
    setTimeout(() => {
      cartCountElement.style.transform = 'scale(1)';
    }, 200);
  }
</script> 