
<div class="video-section">
  <div class="video-section__container">
    {% for block in section.blocks %}
      <div class="video-section__video" {{ block.shopify_attributes }}>
        <div class="video-section__video-wrapper">
          {% if block.settings.video != blank %}
            <video 
              class="video-section__video-element"
              poster="{{ block.settings.cover_image | img_url: '800x' }}"
              preload="none"
              playsinline
            >
              <source src="{{ block.settings.video }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          {% endif %}
          <div class="video-section__play-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 5V19L19 12L8 5Z" fill="white"/>
            </svg>
          </div>
          <div class="video-section__duration">{{ block.settings.duration }}</div>
        </div>
        <div class="video-section__title">{{ block.settings.title }}</div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .video-section {
    padding: 0 20px;
    margin: 15px 0 20px 0;
  }

  .video-section__container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .video-section__video {
    height: 250px;
    position: relative;
    border-radius: 4px;
  }

  .video-section__video-wrapper {
    width: 130px;
    border-radius: 4px;
    height: 230px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-bottom:4px solid rgba(241, 196, 15, 1);
  }

  .video-section__video-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-section__play-icon {
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    z-index: 2;
  }

  .video-section__play-icon:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
  }

  .video-section__duration {
    position: absolute;
    bottom: 2px;
    right: 5px;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;
  }
  .video-section__title{
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
  }
</style>

{% schema %}
{
  "name": "Video Section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video Item",
      "settings": [
        {
          "type": "video_url",
          "id": "video",
          "label": "Video URL",
          "accept": ["youtube", "vimeo"]
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "Cover Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Video Title",
          "default": "Video Title"
        },
        {
          "type": "text",
          "id": "duration",
          "label": "Video Duration",
          "default": "0:24"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Section",
      "blocks": [
        {
          "type": "video",
          "settings": {
            "video": "",
            "cover_image": "",
            "title": "5 Main Benefits",
            "duration": "0:24"
          }
        },
        {
          "type": "video",
          "settings": {
            "video": "",
            "cover_image": "",
            "title": "How to Use",
            "duration": "0:24"
          }
        },
        {
          "type": "video",
          "settings": {
            "video": "",
            "cover_image": "",
            "title": "Ingredients",
            "duration": "0:24"
          }
        }
      ]
    }
  ]
}
{% endschema %}
